body{
    background-color: white;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.scroll-wrapper{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px 0;
}
.scroll-track{
    display:flex;
    gap: 10px;
    animation: scroll 0.4s linear infinite;
}
.scroll-track img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    transition: 0.1s;
}
.scroll-track img:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(-50%);
    }
}
